@import "../mixins/buttons";

// __________ Base Style  __________//
.ngm-btn {
  border: 1px solid transparent;
  padding: .5rem 1.5rem;
  cursor: pointer;
  width: max-content;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: background .2s;
}

.ngm-btn-none {
  @extend .ngm-btn;
  box-shadow: none;
  &:hover {
    background-color: rgba(var(--darkValues), 0.1);
  }
}

// __________ Solid-buttons  __________//
.ngm-btn-primary {
  @include button-color(var(--primary));
}

.ngm-btn-accent {
  @include button-color(var(--accent));
}

.ngm-btn-info {
  @include button-color(var(--info));
}

.ngm-btn-success {
  @include button-color(var(--success));
}

.ngm-btn-warning {
  @include button-color(var(--warning));
}

.ngm-btn-danger {
  @include button-color(var(--danger));
}

.ngm-btn-light {
  @include button-color(var(--light));
}

.ngm-btn-dark {
  @include button-color(var(--dark));
}

// __________ Outline-buttons  __________//
.ngm-btn-outline-primary {
  @include button-outline-color(var(--primary));
}

.ngm-btn-outline-accent {
  @include button-outline-color(var(--accent));
}

.ngm-btn-outline-info {
  @include button-outline-color(var(--info));
}

.ngm-btn-outline-success {
  @include button-outline-color(var(--success));
}

.ngm-btn-outline-warning {
  @include button-outline-color(var(--warning));
}

.ngm-btn-outline-danger {
  @include button-outline-color(var(--danger));
}

.ngm-btn-outline-light {
  @include button-outline-color(var(--light));
}

.ngm-btn-outline-dark {
  @include button-outline-color(var(--dark));
}
