@import "../mixins/buttons";

// __________ Base Style  __________//
.button {
  border: 1px solid transparent;
  padding: .5rem 1.5rem;
  cursor: pointer;
  width: max-content;
  background: transparent;
  transition: background .2s;
  &:focus {
    outline: auto 2px rgba(77, 144, 254, 0.4);
    outline-offset: 2px;
  }
}

.button-round {
  @extend .button;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-none {
  @extend .button;
  box-shadow: none;
  &:hover {
    background-color: rgba(var(--darkValues), 0.1);
  }
}

// __________ Solid-buttons  __________//
.button-primary {
  @include button-color(var(--primary));
}

.button-accent {
  @include button-color(var(--accent));
}

.button-info {
  @include button-color(var(--info));
}

.button-success {
  @include button-color(var(--success));
}

.button-warning {
  @include button-color(var(--warning));
}

.button-danger {
  @include button-color(var(--danger));
}

.button-light {
  @include button-color(var(--light));
}

.button-dark {
  @include button-color(var(--dark));
}

// __________ Outline-buttons  __________//
.button-outline-primary {
  @include button-outline-color(var(--primary));
}

.button-outline-accent {
  @include button-outline-color(var(--accent));
}

.button-outline-info {
  @include button-outline-color(var(--info));
}

.button-outline-success {
  @include button-outline-color(var(--success));
}

.button-outline-warning {
  @include button-outline-color(var(--warning));
}

.button-outline-danger {
  @include button-outline-color(var(--danger));
}

.button-outline-light {
  @include button-outline-color(var(--light));
}

.button-outline-dark {
  @include button-outline-color(var(--dark));
}
