.card {
  box-shadow: 0 3px 6px rgba(var(--shadowColorValues), 0.2);
  padding: .75rem;
}

.card-header {
  position: relative;
  padding: .5rem 0 1rem 0;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: rgba(var(--borderColorValues), 0.1);
  }
}

.card-body {
  padding: 1.5rem 1rem;
}

.card-footer {
  position: relative;
  padding: 1rem 0 .5rem 0;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: rgba(var(--borderColorValues), 0.1);
  }
}
