.file-input-group {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 100%;
  margin-bottom: .75rem;
}

.files {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file {
  padding: .1rem .25rem .25rem .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: .25rem;
}

.file-name {
  width: 100%;
  margin: auto;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.delete-file {
  color: red;
  border: 1px solid red;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 21;
  &:hover {
    color: white;
    background: red;
  }
}

.file-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 20;
  transition: opacity .2s;
  opacity: 0;
  display: none;
}
