/* You can add global styles to this file, and also import other style files */
@import "./dist/ng-mountain/assets/styles/styles";

body {
  --text: black !important;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100%;
}

.nav-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}
