body {
  // _____ Colours  _____//
  --primary: #007bff;
  --accent: #f79000;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  // _____ RGB Values  _____//
  --shadow-color: 52, 58, 64;
  --border-color: 52, 58, 64;
}
