@mixin button-outline-color($color, $colorValues) {
  border-color: $color;
  color: $color;
  &:hover {
    background: rgba($colorValues, 0.6);
    color: var(--light);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}

@mixin button-color($color) {
  background-color: $color;
  color: var(--light);
  &:hover {
    border-color: $color;
    filter: brightness(85%);
  }
  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}
