.documentation {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
}

.side-nav {
  height: 100%;
  box-shadow: 0 2px 6px rgba(var(--shadow-color), 0.1), 0 0 0 .05rem rgba(var(--shadow-color), 0.1);
  padding: .75rem;
}

.side-navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  padding: .4rem;
}

.content {
  height: 100%;
  padding: .75rem;
}
